.AppLink {
    color: var(--primary-color);

    &:hover {
        color: var(--secondary-color);
    }
    &:active {
        color: var(--primary-color-active);
    }
    &:not(:last-child) {
        margin-right: 15px;
    }
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}
